.grid-container > div {
  
  text-align: center;
  padding: px 0;
  
}

.grid-container {
  display: grid;	
  grid-template-rows: 100px 570px;
  grid-gap: 0px;
  padding: 0px;
  
}

*, html {
    margin:0;
    padding:0; 
    	
}

body {
  background-image: url('./img/star.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
}


.nothingleft { 
               grid-column: 1 ;
               grid-row-start: 1 ; 
               grid-row-end: 5 ;
               width: 200px ;
			   opacity: 0 ;
}

.nothingright { 
               grid-column: 8 ;
               grid-row-start: 1 ; 
               grid-row-end: 5 ;
               width: 200px ;
			   opacity: 0 ;
}

.header { 
         grid-column-start: 2 ;
         grid-column-end: 8;
         grid-row: 1; 
         text-shadow: 2px 2px 7px #111111;
		 font-size: 70px;
		 color : white; 
		 background-image: url('./img/brushed.jpg');
		 background-repeat: no-repeat;
		 background-attachment: fixed;
         background-size: cover;
		 opacity: 90% ;
}
		 
.menu { 
        grid-column-start: 2  ;
        grid-column-end: 3;
        display : flex ;
    	flex-flow : column ;
	    justify-content : space-evenly ;
		align-items : center;
		background-color: lightGray ;
		background-image: url('./img/brushed.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
        background-size: cover;
		opacity: 90% ;
}



.screen { 
         grid-column:3 /span 4; 
         grid-row: 2 / span 1;
		 background-color: black ;
		 color: white;
		 
}

 		 
.right { 
        grid-column: 7; 
        grid-row: 2 / span 2; 
		background-color: lightGray ;
		display : flex ;
    	flex-flow : column ;
	    justify-content : space-evenly ;
		align-items : center;
		opacity: 90% ;
		background-image: url('./img/brushed.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
        background-size: cover;
		
}
		 
.footer { 
        grid-column: 2 ;
        grid-column-end: 8 ;
        grid-row: 4;
        background-image: url('./img/brushed.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
        background-size: cover;	
        opacity: 90% ;		
}
		  
.footer1 { 
        grid-column: 2 ;
        grid-column-end: 8 ;
        grid-row: 5 ;
		opacity: 90% ;
		text-shadow: 2px 2px 7px #111111;
		font-size: 30px;
		color : black; 	
        background-image: url('./img/brushed.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
        background-size: cover;				  
}

.button {
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:5px solid lightgray;
	display:inline-block;
	cursor:pointer;
	color:#224b9c;
	font-family:Arial;
	font-size:15px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
	width:130px;
	outline:none;
    
}

.button:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
	

}

.button:active {
	position:relative;
	top:1px;
	
    
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: #224b9c;
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  color: #224b9c;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  opacity: 0;
  transition: opacity 0.5s;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  
  
}


.modal-content {
  background-color: #bed0ed;
  background:linear-gradient(to bottom, #bab1ba 5%, #f0c6bb 100%);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
}


.close {
  color: darkgray;
  float: right;
  font-size: 28px;
  font-weight: bold;
  
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {padding: 2px 16px;}

.modal-header {
  padding: 10px 100px;
  background-color: #331;
  border-radius: 10px;
  border:1px solid #332;
  color: lightgray;
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(0, 0, 0, 0.8);
}











.glow {
    box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:5px solid lightgray;
	display:inline-block;
	cursor:pointer;
	color:red;
	font-family:Arial;
	font-size:15px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
	width:130px;
	outline:none;
    
}

.glow:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
	

}

.glow:active {
	position:relative;
	top:1px;
	
    
}

@-webkit-keyframes glowing {
  0% { background-color: #d60b26; -webkit-box-shadow: 0 0 3px #d60b26; }
  50% { background-color: #e0536f; -webkit-box-shadow: 0 0 10px #e0536f; }
  100% { background-color: #d60b26; -webkit-box-shadow: 0 0 3px #d60b26; }
}

@-moz-keyframes glowing {
  0% { background-color: #d60b26; -moz-box-shadow: 0 0 3px #d60b26; }
  50% { background-color: #e0536f; -moz-box-shadow: 0 0 10px #e0536f; }
  100% { background-color: #d60b26; -moz-box-shadow: 0 0 3px #d60b26; }
}

@-o-keyframes glowing {
  0% { background-color: #d60b26; box-shadow: 0 0 3px #d60b26; }
  50% { background-color: #e0536f; box-shadow: 0 0 10px #e0536f; }
  100% { background-color: #d60b26; box-shadow: 0 0 3px #d60b26; }
}

@keyframes glowing {
  0% { background-color: #d60b26; box-shadow: 0 0 3px #d60b26; }
  50% { background-color: #e0536f; box-shadow: 0 0 10px #e0536f; }
  100% { background-color: #d60b26; box-shadow: 0 0 3px #d60b26; }
}

.glow {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}


@-webkit-keyframes shaky {
  0% {-webkit-transform: translate(2px, 1px) rotate(0deg);}
  10% {-webkit-transform: translate(-1px, -2px) rotate(-1deg);}
  20% {-webkit-transform: translate(-3px, 0px) rotate(1deg);}
  30% {-webkit-transform: translate(3px, 2px) rotate(0deg);}
  40% {-webkit-transform: translate(1px, -1px) rotate(1deg);}
  50% {-webkit-transform: translate(-1px, 2px) rotate(-1deg);}
  60% {-webkit-transform: translate(-3px, 1px) rotate(0deg);}
  70% {-webkit-transform: translate(3px, 1px) rotate(-1deg);}
  80% {-webkit-transform: translate(-1px, -1px) rotate(1deg);}
  90% {-webkit-transform: translate(1px, 2px) rotate(0deg);}
  100% {-webkit-transform: translate(1px, -2px) rotate(-1deg);}
}

.shake {
  -webkit-animation-name: shaky;
  -webkit-animation-duration: 3s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: ;
  -webkit-animation-timing-function: linear;
}